<h1 style="color: pink"><%= @cat.all.count %> cats</h1>

<ul style="list-style-type: lower-roman">
    <% @cat.each do |cat| %>
    <li> <%= cat.name %> </li>
    <%= link_to "show", cat_url(cat) %>
    <%= link_to "edit", edit_cat_url(cat) %>
    <% end %>
</ul>

<section>
  <%= link_to "Add Cat", new_cat_url %>
</section>
