<h1>99 Cat's</h1>

<table>
  <tr>
    <th><%= @cat.name %></th>
  </tr>
  <tr>
    <td> - <%= @cat.age %></td>
  </tr>
  <tr>
    <td> - <%= @cat.sex %></td>
  </tr>
  <tr>
    <td> - <%= @cat.color %></td>
  </tr>
  <tr>
    <td> - <%= @cat.description %></td>
  </tr>
  <tr>
    <td> - <img src=<%= @cat.image_url %> ></td>
  </tr>
</table>
